<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      <%= link_to 'Back', posts_path, class: "pure-button" %>
    </li>
  </ul>
</nav>

<div class="content pure-u-1-2 pure-u-md-1-2">
  <%= render 'form' %>
</div>
